* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Hack;
  src: url(Fonts/HACK-REGULAR.TTF);
}
@font-face {
  font-family: Hack-Bold;
  src: url(Fonts/HACK-BOLD.TTF);
}

body {
  font-family: "Hack-Bold";
  overflow-y: scroll; 
}

h1{
  font-family: "Hack-Bold";

}

#bg {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
}

.sidenav a:hover {
  color: white;
}

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}